<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Top Complaints</title>
    <link href="/statics/css/trend.css" rel="stylesheet" type="text/css">
</head>
<body>

<div id="wrapper">

    <header>
        <a><img src="/statics/images/person.png"></a>
        <a><img src="/statics/images/back.png"></a>
        <a><img src="/statics/images/home.png"></a>
        <h1>ML Analytics Portal</h1>
        <a><img src="/statics/images/dropdown.png"></a>
        <a><img src="/statics/images/search.png"></a>
    </header>

    <div id="side-column">
        <div class="info-box drop-down-menu">
            <select>
                <option>This Month</option>
                <option>This Week</option>
                <option>Last Month</option>
                <option>Last Week</option>
            </select>
        </div>
        <div class="info-box drop-down-menu">
            <select>
                <option>型号 FS-0036</option>
                <option>型号 FS-0037</option>
                <option>型号 FS-0038</option>
                <option>型号 AS-0037</option>
            </select>
        </div>
        <div class="info-box">
            <img src="/statics/images/shoes.jpg">
        </div>
    </div>

    <div id="main-column">
        <div class="info-box" id="complaints">
            <h3>Top Complaints</h3>

        </div>
        <div class="info-box" id="feature">
            <h3>Feature</h3>
            <span>麂皮</span>
            <ul>
                <li title="麂皮从本月搜非手机费富士康放映室发的">麂皮从本月搜非手机费富士康放映室发的</li>
                <li title="彩色几何参数参数吃呢的呢宿舍开发西夫韦">彩色几何参数参数吃呢的呢宿舍开发西夫韦</li>
                <li title="人造革珊瑚虫代言人数据库换手机换手机哈哈和我十几年时间">人造革珊瑚虫代言人数据库换手机换手机哈哈和我十几年时间</li>
                <li title="麂皮色说呢什么密密麻麻睡觉了试试看但是可是可是">麂皮色说呢什么密密麻麻睡觉了试试看但是可是可是</li>
                <li title="真皮懂得好多好多好多好多好多好多好多好的很多很多很好的的的额的">真皮懂得好多好多好多好多好多好多好多好的很多很多很好的的的额的</li>
                <li title="革人造革人造革人造革发热色说呢什么密密麻麻睡觉了试试看但是多好多好多好多好的很多人造革阿九阿九阿九问恩恩恩的苏苏分为分为氛围额我发热感人突然热但我认为杜耳恶闻微软为个额问题个人合议庭苏苏苏苏苏苏苏">革人造革人造革人造革发热色说呢什么密密麻麻睡觉了试试看但是多好多好多好多好的很多人造革阿九阿九阿九问恩恩恩的苏苏分为分为氛围额我发热感人突然热但我认为杜耳恶闻微软为个额问题个人合议庭苏苏苏苏苏苏苏</li>
                <li title="麂皮额外大王大王fee分">麂皮额外大王大王fee分</li>
                <li>真皮人造革人造革人造革人造革人造革人造革发热热尔特我few个</li>
                <li>人造革是光天化日更惹人热帖恶搞热火</li>
                <li>麂皮额外大王大王fee分</li>
                <li>真皮人造革人造革人造革人造革人造革人造革发热热尔特我few个</li>
                <li>人造革是光天化日更惹人热帖恶搞热火</li>
                <li>麂皮色说呢什么密密麻麻睡觉了试试看但是可是可是</li>
                <li>真皮懂得好多好多好多好多好多好多好多好的很多很多很好的的的额的</li>
                <li>人造革阿九阿九阿九问恩恩恩的苏苏分为分为氛围额我发热感人突然热但我认为杜耳恶闻微软为个额问题个人合议庭苏苏苏苏苏苏苏</li>
                <li>真皮人造革人造革人造革人造革人造革人造革发热热尔特我few个</li>
                <li>人造革是光天化日更惹人热帖恶搞热火</li>
                <li>麂皮额外大王大王fee分</li>
                <li>真皮人造革人造革人造革人造革人造革人造革发热热尔特我few个</li>
            </ul>
        </div>
    </div>

</div>
</body>
</html>